<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : 'https://res.cloudinary.com/dfv1szuzs/image/upload/v1683992337/photo-1493804714600-6edb1cd93080_dgq4c3.jpg' %>)">
  <div class="container d-flex justify-content-between align-items-center">
    <h1><strong><%= @list.name %></strong></h1>
    <%= link_to 'add movie', new_list_bookmark_path(@list), 'class' => 'btn btn-primary' %>
    <!-- <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Add movie</button>
    <%= render 'shared/popup_form' %> -->
    </div>
</div>
<div class="container">
  <ul class='list-group'>
    <div class='cards'>
      <% @bookmarks.each do |bookmark|%>
        <!-- <li class='list-group-item'>
          <p><%= bookmark.movie.title %></p>
          <p><%= bookmark.comment %></p>
          <p><%= link_to 'delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'delete this comment?'}, class: 'btn btn-danger text-white' %></p>
        </li> -->
          <div class="card-product mt-3 d-flex rounded">
            <img src=<%= bookmark.movie.poster_url %>>
              <div class="card-product-infos d-flex justify-content-between align-items-center flex-fill">
                <div>
                  <h2><%= bookmark.movie.title %></h2>
                  <p><%= bookmark.comment %></p>
                </div>
                <%= link_to 'delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'delete this comment?'}, class: 'btn btn-danger text-white' %>
              </div>
          </div>
      <% end %>
    </div>
  </ul>
</div>
