<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://source.unsplash.com/featured/?<%= @list.name.downcase %>&<%= rand(1000) %>);">
  <div class="container">
    <h1><strong><%= @list.name %></strong></h1>
    <%= link_to 'bookmark', new_list_bookmark_path(@list), class: 'btn btn-primary mt-3'%>
    <%= link_to 'back', lists_path, class: 'btn btn-primary mt-3' %>
  </div>
</div>
<div class="container">
  <ul class='list-group'>
    <% @bookmarks.each do |bookmark|%>
      <li class='list-group-item'>
        <p><%= bookmark.movie.title %></p>
        <p><%= bookmark.comment %></p>
        <p><%= link_to 'delete', bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'delete this comment?'}, class: 'btn btn-danger text-white' %></p>
      </li>
    <% end %>
  </ul>
</div>
