<div class="container">
  <h1><%= @list.name %></h1>
  <%= simple_form_for [@list, @bookmark] do |f|%>
  <%= f.association :movie, collection: @movies %>
  <%= f.input :comment %>
  <%= f.submit 'bookmark', class: 'btn btn-primary' %>
  <%= link_to 'back', lists_path, class: 'btn btn-primary' %>
  <% end %>
</div>
